earthquake-pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "7cf70b00-1813-abe2-44fc-96bfe44dd931",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@formatDateTime(addDays(utcnow(), -1), 'yyyy-MM-dd')",
                "type": "Expression"
              },
              "type": "string"
            },
            "end_date": {
              "value": {
                "value": "@formatDateTime(utcnow(), 'yyyyMMdd')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze_Notebook",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "f6026d84-0c6a-b31d-42e6-eb1f7fb50958",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@activity('Bronze_Notebook').output.start_date",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver_Notebook",
        "dependsOn": [
          {
            "activity": "Bronze_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "7cf70b00-1813-abe2-44fc-96bfe44dd931",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@activity('Silver_Notebook').output.start_date",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold_Notebook",
        "dependsOn": [
          {
            "activity": "Silver_Notebook",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}